<footer class="text-center text-lg-start text-white " style="background-color: black;">
    <div class="container text-center text-md-start mt-5">
        <div class="row mt-3 pt-5">
            <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4 ">
                <h4 class=" mb-4">PolytechShop</h4>
                <h6>S'abonner</h6>
                <p>Obtenez 10% de réduction sur votre première commande</p>
                <form class="d-flex mb-1 mb-lg-0 rounded me-lg-5 bg-black justify-content-center justify-content-lg-start" >
                    <input type="search" class="rounded-start py-2 h-100 border-start border-top border-bottom border-end-0 text-white bg-black" placeholder="Entrez votre email" aria-label="newsletter" style="outline: none;"/>
                    <button class="border-top border-end border-bottom border-start-0 rounded-end bg-black">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.91196 12H3.99996L2.02296 4.13505C2.0103 4.08934 2.00259 4.0424 1.99996 3.99505C1.97796 3.27405 2.77196 2.77405 3.45996 3.10405L22 12L3.45996 20.896C2.77996 21.223 1.99596 20.737 1.99996 20.029C2.00198 19.9658 2.0131 19.9031 2.03296 19.843L3.49996 15" stroke="#FAFAFA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                    </button>
                </form>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 ">
                <h4 class=" mb-4">Aide</h4>
                <p>THIES, EPT</p>
                <p><a href="#!" class="text-reset text-decoration-none">pshop&#64;gmail.com</a></p>
                <p>+221 77 480 72 41</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">
                <h4 class=" mb-4">Compte</h4>
                <p><a href="#!" class="text-reset text-decoration-none">Mon compte</a></p>
                <p><a href="#!" class="text-reset text-decoration-none">Login/Register</a></p>
                <p><a href="#!" class="text-reset text-decoration-none">Panier</a></p>
                <p><a href="#!" class="text-reset text-decoration-none">Liste de souhaits</a></p>
                <p><a href="#!" class="text-reset text-decoration-none">Boutique</a></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4 ">
                <h4 class=" mb-4">Lien rapide</h4>
                <p><a href="#!" class="text-reset text-decoration-none">Privacy Policy</a></p>
                <p><a href="#!" class="text-reset text-decoration-none">Terms Of Use</a></p>
                <p><a href="#!" class="text-reset text-decoration-none">FAQ</a></p>
                <p><a href="#!" class="text-reset text-decoration-none">Contacter</a></p>
            </div>

            <div class="col-md-5 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4 ">
                <h4 class="mb-4">Télécharger l'appli</h4>
                <p>Economiser 1500francs dans l'application seulement pour les nouveaux utilisateurs </p>
                <div class="d-flex justify-content-center justify-content-lg-start align-items-lg-center">
                    <img src="assets/img/qr-code.jpeg" width="95" height="95" alt="">
                    <div class="ms-2">
                        <button class="border rounded d-flex align-items-center mb-1 bg-dark">
                            <i class="fa-brands fa-google-play fs-5" style="color:white"></i>
                            <span class="d-flex flex-column text-white" style="font-size: small;">
                                <span>Obtenez le maintenant</span>
                                <span class="fs-6 d-table">Google Play</span>
                            </span>
                        </button>
                        <button class="border rounded d-flex align-items-center bg-dark">
                            <i class="fa-brands fa-apple fs-4" style="color:white"></i>                                
                            <span class="d-flex flex-column text-white" style="font-size: small;">
                                <span>Obtenez le maintenant&nbsp;</span>
                                <span class="fs-6 d-table">App Store</span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-center justify-content-lg-start">
                    <a href="" class="me-5 text-reset"><i class="fab fa-facebook-f fs-4"></i></a>
                    <a href="" class="me-5 text-reset"><i class="fab fa-twitter fs-4"></i></a>
                    <a href="" class="me-5 text-reset"><i class="fab fa-instagram fs-4"></i></a>
                    <a href="" class="me-5 text-reset"><i class="fab fa-linkedin fs-4"></i></a>
                </div>
            </div>
            
        </div>
    </div>
</footer>
