.form-control-1{
    border: none;
    border-bottom: 1px solid rgb(128, 128, 128);
}
input:focus {
    outline: none; /* Supprime le contour */
    box-shadow: none; /* Supprime l'ombre */
    border-color: black; /* Réinitialise la couleur de la bordure */
  }
@media only screen and (min-width: 768px) and (max-width: 868px){
    button[type=submit]{
        font-size: small;
    }
}
