<div class="d-flex justify-content-between align-items-center border mx-auto" style="width: 75%;">
  <div>
      <img src="assets/img/image.png" alt="ecommerce image" class="img-fluid" width="600">
    </div>
    <div class="me-5">
      <div class="mb-4">
        <h3>Connectez-vous sur PolyShop</h3>
        <p>Entrez tes informations de connexion</p>
      </div>

      <form>
        <div class="mb-4">
          <input type="email" class="form-control-1 w-100" id="email" aria-describedby="emailHelp" placeholder="Email"><!-- aria-describedby? -->
        </div>
        <div class="mb-4">
          <input type="password" class="form-control-1 w-100" id="password" placeholder="Mot de passe">
        </div>
        <div>
            <button type="submit" class="btn btn-danger me-3">Se connecter</button>
            <a href="#" style="font-size: small;" class="text-danger">Mot de passe oublié ?</a>
        </div>   
      </form>
    </div>
  </div>
  