/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack-success {
    background-color: #4caf50; /* Exemple de couleur verte pour le succès */
  }
  
.snack-error {
    background-color: #f44336; /* Exemple de couleur rouge pour l'erreur */
}