<div class="d-flex justify-content-between align-items-center border mx-auto" style="width: 75%;">
  <div>
    <img src="assets/img/image.png" alt="ecommerce image" class="img-fluid" width="600">
  </div>
  <div class="me-5" style="width: 30%;">
    <div class="mb-3">
      <h3>Créer un compte</h3>
      <p>Entrez vos coordonnées ci-dessous</p>
    </div>
    <form class="">
      <div class="mb-4">
        <input type="text" class="form-control-1 w-100" id="nom" placeholder="Nom">
      </div>
      <div class="mb-4">
        <input type="text" class="form-control-1 w-100" id="prenom" placeholder="Prenom">
      </div>
      <div class="mb-4">
        <input type="email" class="form-control-1 w-100" id="email" aria-describedby="emailHelp" placeholder="Email"><!-- aria-describedby -->
      </div>
      <div class="mb-4">
        <input type="password" class="form-control-1 w-100" id="password" placeholder="Mot de passe">
      </div>
      <div class="mb-4">
        <input type="password" class="form-control-1 w-100" id="confirmPassword" placeholder="Confirmer mot de passe">
      </div>
      <button type="submit" class="btn btn-danger border border-danger">Créer un compte</button>
      <div class="">
        <p class="">Vous avez déjà un compte ? <a href="/connexion" class="text-secondary">Se connecter</a></p>
      </div>
    </form>
  </div>
</div>
