.categories-list li{
    margin-bottom: 5px;
    font-size:small;
}
.shadow-inner {
    box-shadow: inset 0 0 1em gold;
  }
.red-div{
    background-color: #db4444;
    width: 15px;
    height: 30px;
    border-radius: 5px;
}
.card:hover .card-img{
    background-color: #f5f5f5;
}
.card:hover .action-buttons,
.card:hover .add-to-cart-btn {
    opacity: 1!important;
  }
  
.card:hover .discount-label {
  z-index: 11;
}
  .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray;
    border: none;
  }

  .carousel-indicators .active {
    background-color: red;
    border: 2px solid white; /* White border around active indicator */
  }

  /* Center the indicators and add some margin */
  .carousel-indicators {
    bottom: 10px; /* Adjust as needed */
  }

  .carousel-indicators button:not(.active) {
    opacity: 0.5;
  }