<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App</title>
    <link rel="stylesheet" href="/static/angular/styles.css">
</head>
<body>
    <app-root></app-root>
    <script src="/static/angular/runtime.js" type="module"></script>
    <script src="/static/angular/polyfills.js" type="module"></script>
    <script src="/static/angular/main.js" type="module"></script>
</body>
</html>